<form class="flexcol">

    <label>{{localize "curtain-animations.dialog.text"}}</label>
    <input type="text" name="text" placeholder="A new day breaks..." />

    <div class="form-group">
        <label>{{localize "curtain-animations.dialog.image"}}</label>
        <div class="form-fields">

            {{filePicker type="imagevideo" target="img.src"}}
            <input class="image" type="text" name="img.src" data-type="imagevideo" placeholder="path/image.png" />
        </div>
    </div>

    <div class="form-group submenu">
        <button type="button" data-action="advanced-settings">
            <i class="fa-solid fa-gear"></i>
            <label>{{localize "curtain-animations.dialog.configureScene"}}</label>
        </button>
    </div>
    
</form>