<form class="flexcol">

    <label>Text</label>
    <input type="text" name="text" placeholder="A new day breaks..." />

    <div class="form-group">
        <label>Image Path</label>
        <div class="form-fields">

            {{filePicker type="imagevideo" target="img.src"}}
            <input class="image" type="text" name="img.src" placeholder="path/image.png" />
        </div>
    </div>

    </div>